.login_page
  .container
    .question_form
      %h2 Question Form
      = form_for @question do |f|
        - if @question.errors.any?
          #error_explanation
            %h2
              = pluralize(@question.errors.count, "error")
              prohibited this question from being saved:
            %ul
              - @question.errors.full_messages.each do |msg|
                %li= msg
        %div
          = f.label :category
          = f.select :category_id, Category.all.collect{|a| [a.question_category, a.id]}, :prompt => "please select category"
        %div
          = f.label :question_name
          = f.text_area :name, :rows => 3
        %div
          = f.label :option_type
          = f.select :option_type, Answer::OPTIONS.collect{|k, v| [v, k]}, :prompt => "please select option"
        #single_choice
          = #render :partial => "single_choice"
        #multiple_choice
          = #render :partial => "multiple_choice"
        #descriptive_choice
          =# render :partial => "descriptive_choice"
        #please_select_choice
          %br
        %div{:style => "text-align:center;"}
          = f.submit "Create Question", :class => "btn btn-primary"
:javascript
$(document).ready(function(){
  $("#question_option_type").on('change', function(){
    var option_value = $(this).val();
    $.ajax({url: "/questions/choices", data: 'option='+option_value});
  });
});