%h4 Multiple Answers
%div
  = label_tag :A
  = text_field_tag :A
%div
  = label_tag :B
  = text_field_tag :B
%div
  = label_tag :C
  = text_field_tag :C
%div
  = label_tag :D
  = text_field_tag :D
.form_row
  %label{for: "correct_multiple_answers"} Correct Answers:
  - [ 'A', 'B', 'C', 'D'].each do |correct_multiple_answers|
    = check_box_tag 'correct_multiple_answers', correct_multiple_answers, @correct_multiple_answers == correct_multiple_answers
    = correct_multiple_answers.humanize