.login_page
  .container
    .question_form
      = form_for @quiz do |f|
        %div
          - @questions.each_with_index do |question,index|
            -debugger
            - if index == 0
              = index + 1
              %h3
                Question :-
              = question.name.html_safe
              = #question.option_type
              -if question.option_type == 0
                %div
                  = f.label :A, 'A:', :style => "font-weight:bold;"
                  = f.radio_button :answer1, 'answer1', :as => :radio
                  = question.answer.A
                %br
                %div
                  = f.label :B, 'B:', :style => "font-weight:bold;"
                  = f.radio_button :answer1, 'answer1', :as => :radio
                  = question.answer.B
                %br
                %div
                  = f.label :C, 'C:', :style => "font-weight:bold;"
                  = f.radio_button :answer1, 'answer1', :as => :radio
                  = question.answer.C
                %br
                %div
                  = f.label :D, 'D:', :style => "font-weight:bold;"
                  = f.radio_button :answer1, 'answer1', :as => :radio
                  = question.answer.D
              - elsif question.option_type == 1
                %div
                  = f.label :Answer1, :style => "font-weight:bold;"
                  = f.check_box :answer1
                  = question.answer.A
                %br
                %div
                  = f.label :Answer2, :style => "font-weight:bold;"
                  = f.check_box :answer2
                  = question.answer.B
                %br
                %div
                  = f.label :Answer3, :style => "font-weight:bold;"
                  = f.check_box :answer3
                  = question.answer.C
                %br
                %div
                  = f.label :Answer4, :style => "font-weight:bold;"
                  = f.check_box :answer4
                  = question.answer.D
              - else
                %div
                  = f.label :create_answer
                  = f.text_area :create_answer, :class => "ckeditor"
              = f.submit "next"

        %br
        
        %div
          = f.submit "create"