.quiz_start
  .container.quiz
    .question_form
      %h1
        Question #{@current + 1} of #{@total}
      %p#question= #@question.name.html_safe
      .pull-right.time-left
        %span Time left
        %span.label.label-success{ id: 'timer'}
      = form_tag({:controller => "quizzes", :action => "question"}) do
        = @question.name.html_safe
        -if @question.option_type == 0
          %div
            = label_tag :A
            = radio_button_tag :answers, 'A'
            = @question.answer.A
          %br
          %div
            = label_tag :B
            = radio_button_tag :answers, 'B'
            = @question.answer.B
          %br
          %div
            = label_tag :C
            = radio_button_tag :answers, 'C'
            = @question.answer.C
          %br
          %div
            = label_tag :D
            = radio_button_tag :answers, 'D'
            = @question.answer.D
        - elsif @question.option_type == 1
          %div
            = label_tag :A
            = check_box_tag :answer_a, 'A'
            = @question.answer.A
          %br
          %div
            = label_tag :B
            = check_box_tag :answer_b, 'B'
            = @question.answer.B
          %br
          %div
            = label_tag :C
            = check_box_tag :answer_c, 'C'
            = @question.answer.C
          %br
          %div
            = label_tag :D
            = check_box_tag :answer_d, 'D'
            = @question.answer.D
        - else
          %div
            = label_tag :write_answer
            = text_area_tag :create_answer
        %br
        - if @current != 0
          = link_to "back", back_button_quizzes_path, :id => "go_back", :remote => true
          / = submit_tag("Back", :class => "submit", :id => "go_back", :remote => true)
          = #button_to "Back", back_button_quizzes_path, :id => "go_back", :remote => true
        = submit_tag("Continue", :class => "submit")
        = hidden_field_tag :category_id, "#{@category.id}"
        = hidden_field_tag :question_id, "#{@question.id}"
        - content_for(:title) do
          Question #{@current + 1} of #{@total}
      -if @current == @total
        = form_for @quiz do |f|
          = f.category_id :value => @category.id
          = f.user_id :value => current_user.id
          = f.submit

:javascript
$(document).ready(function(){
  $("#go_back").on('click', function(){
    $.ajax({
      type: 'get',
      url: "/quizzes/back_button",
      data: { category_id: "1"}
    })
  })
})

/ :javascript
/   $(document).ready(function() {
/     var set_timer = function() {
/       var quiz_duration = parseInt("#{@quiz.duration}");
/       var target_date = new Date();
/       target_date.setMinutes(target_date.getMinutes() + quiz_duration);
/       var minutes, seconds;
/       var countdown = document.getElementById("timer");
/       var time_out = quiz_duration * 60 * 1000;

/       setInterval(function() {
/         var current_date = new Date().getTime();
/         var seconds_left = (target_date - current_date) / 1000;
/         minutes = parseInt(seconds_left / 60);
/         seconds = parseInt(seconds_left % 60);
/         countdown.innerHTML = formatTime(minutes, seconds);
/       }, 100);

/       setTimeout(function() {
/         var attended = $(".quiz").data('attending');
/         window.location.href = '#{question_quizzes_path}'+'?attended='+attended;
/       }, time_out);

/     }();

/     // Time format helpers
/     var formatTime = function(minutes, seconds) {
/       var min = parseInt(minutes),
/           sec = parseInt(seconds);
/       return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2);
/     }
/     var pad = function(number, length) {
/       var str = '' + number;
/       while (str.length < length) {str = '0' + str;}
/       return str;
/     }
/   });


/ .login_page
/   .container
/     .question_form
/       = form_for @quiz do |f|
/         %div
/           - @questions.each do |question|
/             %h3
/               Question :-
/             = question.name.html_safe
/             = #question.option_type
/             -if question.option_type == 0
/               %div
/                 = f.label :answer1, 'Answer1:', :style => "font-weight:bold;"
/                 = f.radio_button :answer1, 'answer1', :as => :radio
/                 = question.answer.A
/               %br
/               %div
/                 = f.label :answer2, 'Answer2:', :style => "font-weight:bold;"
/                 = f.radio_button :answer2, 'answer2', :as => :radio
/                 = question.answer.B
/               %br
/               %div
/                 = f.label :answer3, 'Answer3:', :style => "font-weight:bold;"
/                 = f.radio_button :answer3, 'answer3', :as => :radio
/                 = question.answer.C
/               %br
/               %div
/                 = f.label :answer4, 'Answer4:', :style => "font-weight:bold;"
/                 = f.radio_button :answer4, 'answer4', :as => :radio
/                 = question.answer.D
/             - elsif question.option_type == 1
/               %div
/                 = f.label :Answer1, :style => "font-weight:bold;"
/                 = f.check_box :answer1
/                 = question.answer.A
/               %br
/               %div
/                 = f.label :Answer2, :style => "font-weight:bold;"
/                 = f.check_box :answer2
/                 = question.answer.B
/               %br
/               %div
/                 = f.label :Answer3, :style => "font-weight:bold;"
/                 = f.check_box :answer3
/                 = question.answer.C
/               %br
/               %div
/                 = f.label :Answer4, :style => "font-weight:bold;"
/                 = f.check_box :answer4
/                 = question.answer.D
/             - else
/               %div
/                 = f.label :create_answer
/                 = f.text_area :create_answer
/         %br
/         %div
/           = f.submit "create"